<!----------------- Contact ------------>

<div id="contact">
    <h1 class="heading">Contact Me</h1>
    
    <div class="contact-means">
      <div class="contact-left">
        <p><i class="fa-solid fa-paper-plane"></i>samueleibo12gmail.com</p>
        <p><i class="fa-solid fa-phone"></i>+2347038309759</p>
      </div>
      <div class="contact-right social-icons">
        <p>Social media handles</p>
        <div>
          <a href="https://www.facebook.com/samuel.eibo.31/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/samuel-eibo/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://x.com/EiboSamuel"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="download-btn">
      <a href="My CV.pdf"  download class="btn btn2">Download CV</a>
    </div>
  </div>