<!-----------Portfolio section---------->

<div id="portfolio">
    <h1 class="heading">My Works</h1>
    <div class="portfolio-container">
      
      <div class="work-list">
        <div class="work">
          <img src="work1.jpg" class="work-1-image">
          <div class="layer">
            <h3>Twitter Homepage</h3>
            <p>This is a static Twitter home page clone - A collaboration work</p>
            <a href="https://samibo-cmd.github.io/TwitterHomePage_Collaboration/">
              <i class="anchor fa-solid fa-link"></i>
            </a>
          </div>
        </div>
        <div class="work">
          <img src="pic-4.jpg" class="work-2-image">
          <div class="layer">
            <h3>YouTube Homepage</h3>
            <p>A static and fully responsive YouTube home page clone</p>
            <a href="https://samibo-cmd.github.io/YouTube-Homepage/">
              <i class="anchor fa-solid fa-link"></i>
            </a>
          </div>
        </div>
        <div class="work">
          <img src="work5.jpg" class="work-3-image">
          <div class="layer">
            <h3>Todo List</h3>
            <p>A simple todo list to keep track of activities that one wants to carry out in the future</p>
            <a href="https://samibo-cmd.github.io/Todo-List/">
              <i class="anchor fa-solid fa-link"></i>
            </a>
          </div>
        </div>
        <div class="work" class="work-4-image">
          <img src="work4.jpg">
          <div class="layer">
            <h3>Rock Paper Scissors</h3>
            <p>Built a dynamic Rock Paper Scissors game</p>
            <a href="https://samibo-cmd.github.io/JS-PRS/">
              <i class="anchor fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="#" class="btn">See more</a>
    </div>
  </div>