
<div class="header-container">
    <nav>
      <a routerLink="/" class="my-name" style="text-decoration: none;"><span>Port</span>folio</a>
      <ul id="side-menu" [class.active]="isMenuOpen">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <i class="fa-solid fa-circle-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
</div>

<!-- Router Outlet -->
<router-outlet></router-outlet>

<div class="copyright">
  <p>Copyright &copy Samuel. Designed with <i class="fa-solid fa-heart"> Angular</i></p>
</div>