<!-- Services section below -->

<div id="services">
    <h1 class="heading">My Services</h1>
    <div class="services-container">
      <div class="services-details">
        <div class="services-list">
          <div class="service-1">
            <i class="fa-brands fa-app-store-ios"></i>
            <h2>App Development</h2>
            <p>
              Create apps to perform certain functions.
            </p>
            <a href="#">Learn more</a>
          </div>
          <div>
            <i class="fa-solid fa-code"></i>
            <h2>Web Development</h2>
            <p>
              Build web pages and web sites user interface.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="services-image">
        <img src="service-image.jpg">
      </div>
  </div>
  </div>